<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mapLight@2x.1cf80522f8b3a458953eeee427167acf_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,191},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mapLight@2x.1cf80522f8b3a458953eeee427167acf_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,190},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mapLight@2x.1cf80522f8b3a458953eeee427167acf_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,189},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mapLight@2x.1cf80522f8b3a458953eeee427167acf_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,143},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mapLight@2x.1cf80522f8b3a458953eeee427167acf_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,50},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mapLight@2x.1cf80522f8b3a458953eeee427167acf_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,50},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mapLight@2x.1cf80522f8b3a458953eeee427167acf_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,144},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>mapLight@2x.1cf80522f8b3a458953eeee427167acf_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,163},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>mapLight@2x.1cf80522f8b3a458953eeee427167acf_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,96},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>mapLight@2x.1cf80522f8b3a458953eeee427167acf_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>mapLight@2x.1cf80522f8b3a458953eeee427167acf_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,143},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>mapLight@2x.1cf80522f8b3a458953eeee427167acf_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>mapLight@2x.1cf80522f8b3a458953eeee427167acf_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,97},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>mapLight@2x.1cf80522f8b3a458953eeee427167acf_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,96},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>mapLight@2x.1cf80522f8b3a458953eeee427167acf_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,50},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>mapLight@2x.1cf80522f8b3a458953eeee427167acf_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,49},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>mapLight@2x.1cf80522f8b3a458953eeee427167acf_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>mapLight@2x.1cf80522f8b3a458953eeee427167acf_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>mapLight@2x.1cf80522f8b3a458953eeee427167acf_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>mapLight@2x.1cf80522f8b3a458953eeee427167acf_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>mapLight@2x.1cf80522f8b3a458953eeee427167acf_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,53}}</string>
                <key>sourceSize</key>
                <string>{49,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ice.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8e813e68f50234d2dff81bacde4a924:1/1$</string>
            <key>textureFileName</key>
            <string>ice.png</string>
        </dict>
    </dict>
</plist>
